<!-- Header -->
  <div id="header">
    <div class="container">

      <!-- Logo -->
        <div id="logo">
          <span class="pennant"><span class="icon fa-futbol-o"></span></span>
          <h1><a href="index.html">Basket</a></h1>
        </div>

      <!-- Nav -->
        <nav id="nav">
          <ul>
            <li class="active"><a href="<%= root_path %>">Home</a></li>
            <li><a href="<%= pages_about_path %>">About</a></li>
            <li><a href="apage.html">A Page</a></li>
            <li>
              <a href="#" class="icon fa-caret-down">Drop Down Menu</a>
              <ul>
                <li><a href="#">Example Menu</a></li>
                <li><a href="#">Example Menu</a></li>
                <li><a href="#">Example Menu</a></li>
                <li><a href="#">Example Menu</a></li>
                <li>
                  <a href="#">Example Submenu</a>
                  <ul>
                    <li><a href="#">Example Menu</a></li>
                    <li><a href="#">Example Menu</a></li>
                    <li><a href="#">Example Menu</a></li>
                    <li><a href="#">Example Menu</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="contact.php">Contact Page</a></li>
          </ul>
        </nav>

    </div>
  </div>